@import '~antd/lib/style/index';

.error {
  font-size: 12px;
  position: absolute;
  z-index: 1;
  width: 100%;
  color: white;
  background-color: #ee918d;
  border-radius: 6px;
  padding: 5px 0;
  text-align: center;
  top: 100%;
  left: 0%;
  margin: 0px;
}
