@import '~antd/lib/style/index';

.ant-modal {
  top: 35% !important;
  width: 380px !important;

  &-confirm,
  &-body {
    padding: 18px !important;

    button {
      border-radius: 5px;
      width: 80px;
    }
  }

  &-content {
    border-radius: 10px !important;
  }
}

.container {
  width: 100%;
  padding: 20px 10px;
  background: #ffffff !important;

  .box {
    border: 2px solid #ebecf0;
    border-radius: 10px;
    margin: auto;

    .divider-horizontal {
      border-bottom: 2px solid #ebecf0;
      margin: 5px 5px;
    }

    .no-data {
      text-align: center;
      width: 100%;

      h1 {
        color: #808080;
        margin: 0px auto 20px auto;
      }
    }

    .form-box {
      display: flex;

      .content {
        padding: 5px 10px 10px 10px !important;

        .form {
          padding: 5px 10px 10px 10px;
        }

        .cards {
          max-width: 760px !important;

          a {
            text-decoration: none !important;
            color: #636363 !important;

            &:hover {
              text-decoration: none !important;
              color: #636363 !important;
            }

            &:visited {
              text-decoration: none !important;
              color: #636363 !important;
            }

            .card {
              cursor: pointer;
            }
          }
        }

        h2 {
          font-weight: 400;
          color: #808080;
        }
      }

      .divider-vertical {
        border-right: 2px solid #ebecf0;
        margin: 5px 0px;
      }
    }
  }
}
