@import '~antd/lib/style/index';

.container {
  width: 100%;
  padding: 20px 10px;
  background: #ffffff !important;

  .box {
    border: 2px solid #ebecf0;
    border-radius: 10px;
    margin: auto;

    .divider-horizontal {
      border-bottom: 2px solid #ebecf0;
      margin: 5px 5px;
    }

    .form-box {
      display: flex;

      .content {
        padding: 5px 10px 10px 10px;

        .cards {
          max-width: 760px !important;
        }

        h2 {
          font-weight: 400;
          color: #808080;
        }

        .form-section {
          margin-top: -10px;
          padding: 0px 10px;

          .form-group {
            margin: 0px;

            label {
              font-weight: 700;
            }

            input {
              border-radius: 5px;
              margin-top: -5px;
            }

            button {
              width: 100%;
              border-radius: 5px;
              margin: 20px 0px;
              background-color: #ebecf0;
              color: #808080;
              font-weight: 600;
              border: none;
            }

            .select {
              color: #a9a9a9;
              margin-top: -5px;

              .ant-select-selector {
                border-radius: 5px;
                height: 32px;
              }
            }

            .ant-form-item-control {
              &-input {
                &-content {
                  .date-picker {
                    width: 100%;
                    margin-top: -5px !important;
                    height: 32px !important;
                    border-radius: 5px;
                  }
                }
              }
            }
          }

          .phone-number {
            display: flex;
            justify-content: space-between;

            .code {
              width: 20%;
              margin-right: 4%;
            }
            .number {
              width: 76%;
            }
          }

          .location {
            display: flex;
            justify-content: space-between;

            .lat {
              width: 48%;
              margin-right: 4%;
            }
            .log {
              width: 48%;
            }
          }
        }
      }

      .divider-vertical {
        border-right: 2px solid #ebecf0;
        margin: 5px 0px;
      }
    }
  }
}
