@import '~antd/lib/style/index';

.ant-modal {
  top: 35% !important;
  width: 380px !important;

  &-confirm,
  &-body {
    padding: 18px !important;

    button {
      border-radius: 5px;
      width: 80px;
    }
  }

  &-content {
    border-radius: 10px !important;
  }
}

.container {
  width: 100%;
  padding: 20px 10px;
  background: #ffffff !important;

  .box {
    border: 2px solid #ebecf0;
    border-radius: 10px;
    margin: auto;

    .divider-horizontal {
      border-bottom: 2px solid #ebecf0;
      margin: 5px 5px;
    }

    .form-box {
      display: flex;

      .content {
        padding: 5px 10px 10px 10px !important;

        .form {
          padding: 5px 10px 10px 10px;
        }

        .cards {
          max-width: 760px !important;

          .card {
            cursor: pointer;
          }
        }

        h2 {
          font-weight: 400;
          color: #808080;
        }
      }

      .divider-vertical {
        border-right: 2px solid #ebecf0;
        margin: 5px 0px;
      }
    }
  }
}
